/**	外部div式样		*/
ck-switch{
	width: 75px;
  	height: 26px;
  	margin: 0px auto;
  	position: relative;
  	-moz-border-radius: 50px;
  	-webkit-border-radius: 50px;
  	border-radius: 50px;
  	-moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
  	-webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
  	box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
}
/**	是.的效果#66b9b3绿色	*/
.ck-switch-on{
  	color: #66b9b3;
  	position: absolute;
  	left: 10px;
  	z-index: 0;
  	font-weight: bold;
}
/**	否.的效果#cccccc灰色	*/
.ck-switch-off{
	color: #CCCCCC;
	position: absolute;
 	right: 10px;
	z-index: 0;
	font-weight: bold;
	text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.15);
}
/**	绿色椭圆小块	*/
.ck-switch-current{
  	display: block;
  	width: 30px;
  	height: 20px;
 	cursor: pointer;
  	position: absolute;
  	top: 3px;
  	z-index: 1;
  	background: #66b9b3;
  	-moz-border-radius: 50px;
  	-webkit-border-radius: 50px;
  	border-radius: 50px;
}
/**	left定位	*/
.ck-switch-current-3{
	left: 3px;
}
.ck-switch-current-40{
	left: 42px;
}